@page
@model StoreManager.Pages.DSLoaiHang.IndexModel
@{
    ViewData["Title"] = "Quản lý loại hàng";
    ViewData["classLH"] = "classLH";
}
<div class="containerHangHoa">
    <div class="row">
        <form class="form-inline mb-2 col-6 text_12" action="/action_page.php">
            <input class="form-control mr-sm-2 text_12 input_search" type="text" placeholder="Tìm kiếm loại hàng ...">
            <button class="btn btn-info text_12" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="col-6">
            <a type="button" class="btn btn-primary mr-2 text_12" href="/loaihang/create">
                <i class="fas fa-plus mr-1"></i>Thêm Hàng Hoá
            </a>
        </div>
    </div>
    <form method="post">
        <table class="table table-bordered table-hover text_12">
            <thead class="thead-dark text_12">
                <tr>
                    <th scope="col">Mã loại hàng</th>
                    <th scope="col">Tên loại hàng</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var loaiHang in Model.dsLoaiHang)
                    {
                        <tr>
                            <th scope="row">@{CheckBox(loaiHang.maLoaiHang);}</th>
                            <td>@loaiHang.tenLoaihang</td>
                            <td>@loaiHang.moTaLoaihang</td>
                            <td>@{ButtonEditDelete(loaiHang.maLoaiHang);}</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <button type="submit" class="btn btn-danger mr-2 text_12">
            <i class="fas fa-trash-alt mr-1"></i> Xoá Danh Sách Chọn
        </button>
    </form>

</div>
@{
    void CheckBox(int id)
    {
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id=@id name="languages" value=@id />
            <label class="custom-control-label" for=@id>@id</label>
        </div>
    }
}

@{
    void ButtonEditDelete(int id)
    {

        <a type="button" class="btn btn-warning mr-2 text_12" href="/hanghoa/@id?handler=edit">
            <i class="fa fa-edit"></i>
        </a>
        <a type="button" class="btn btn-danger mr-2 text_12" href="/hanghoa/@id?handler=delete">
            <i class="fa fa-trash-alt"></i>
        </a>
    }
}